<section class="author">
  <div class="authorimage box" style="background: url({{site.baseurl}}/assets/img/avatar.jpg)"></div>
  <div class="authorinfo box">
    <p class="bio" style="color: #222">
      I'm an engineer who likes learning, discussing, and solving problems. These days, I'm focusing on DevOps because I'd love to help ensure that services stay up and running, while continuing to ship software to customers rapidly. I also have a passion for building robust infrastructure at world scale. 
    </p>
    <a class="github-button" href="https://github.com/hieuhtr" data-size="large" data-show-count="true" aria-label="Follow @hieuhtr on GitHub">Follow @hieuhtr</a>
  </div>
  <hr style="border-top: 0px"></<hr>
  <div class="calendar"></div>
</section>
<script>
  GitHubCalendar(".calendar", "hieuhtr");
</script>