<header class="site-header">
  <h1>
    <a href="{{ " / " | prepend: site.baseurl }}">HOME </a>
    <a href="{{ " /archive " | prepend: site.baseurl }}">ARCHIVE </a>
    <a href="{{ " /about " | prepend: site.baseurl }}">ABOUT</a>
  </h1>
</header>

<br>

<div class="site-nav">
  {% for post in site.posts %}

  <div class="post_title">
    <a onclick="window.open('{{ post.source }}', '_blank')" onmouseover="" style="cursor: pointer; cursor: hand;">{{ post.title}}</a>
  </div>
  {% endfor %}
</div>